body {
    font-family: 'Fjalla One', sans-serif;
    background-color: #f2f2f2;
    color: #333;
  }
  
  a {
    color: #0f9d58;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #0f9d58;
    font-weight: bold;
  }
  
  header, footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  main {
    padding: 20px;
  }
  
  .destination-list, .event-list, .historical-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .destination-list li, .event-list li, .historical-list li {
    width: 30%;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
  }
  
  #contact {
    text-align: center;
    margin: 20px 0;
  }
  footer p{
      background-color: #333;
      color: white;
      display: flex;
      justify-content: space-between;
      padding: 20px;
  }

  footer p{
      font-size: 16px;
      margin: 0;
  }

  